.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73,79,82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-top: 10px;
}

.ReactTable .rt-thead .rt-tr {
  text-align: center;
  height: 45px;
  padding-top: 6px;
  background-color: darkgray;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: solid 2px rgba(0,0,0,1);
  cursor: pointer;
}

.title-block {
  height: 100px;
  margin-top: 20px;
  background-color: #b3b3e6;
  border-radius: 7px;
  padding-top: 35px;
  box-shadow: 0px 7px 5px 0px #888888;
}

.body-block {
  height: auto;
  min-height: 300px;
  background-color: #e0caca;
  border-radius: 10px;
  padding-top: 35px;
  box-shadow: 0px 7px 5px 0px #888888;
}

.right-block {
  overflow-y: auto;
  height: 500px;
}

.thumb {
  cursor: pointer;
}